<div class="header">
  <div class="header_text_box">
    <h1>Villkor</h1>
  </div>
</div>

<div class="content1">
  <h2>Undrar du mer om hur vi jobbar?</h2>
  <h3 class="content1_body">Här har vi samlat info som
    berör dig som kund hos oss. </h3>
</div>

<div class="content2">
  <mat-card class="fact" id="gdpr">
      <h3 class="content2_heading">GDPR</h3>
      <p>Vi tycker det är viktigt med att du känner dig trygg med att handla hos oss!<p>
      I enlighet med GDPR sparar vi bara våra kunders personliga uppgifter i tre månader när du handlar hos oss.
      Uppgifterna samlar vi in för att kunna genomföra köpet via Klarnas tjänst. Uppgifterna sparas i vår databas hos Google Firebase.
      <p>Uppgifter som krävs och sparas i tre månader:
      </p>
      <ul class="content2_list">
        <li>Namn</li>
        <li>Telefonnummer</li>
        <li>Adress</li>
        <li>Födelsedatum</li>
        <li>Mail</li>
        <li>Beställningar</li>
      </ul>
      <p>Vid frågor, maila gärna kontakt@qrdesign.se</p>
  </mat-card>
  <mat-card class="fact" id="frakt">
      <h3 class="content2_heading">Frakt och leveranstider</h3>
      <p>När du lägger en beställning hos oss kommer den skickas med posten till något utlämningsställe där du enkelt kan hämta ut din beställning.
      Efter att du lagt er order bör den vara hos dig efter ca. 3-6 dagar. Vi skickar endast beställningar inom Sverige.</p>
      <p>Vid outhämtad leverans debiteras kunden med 150 kr.</p>
  </mat-card>

  <mat-card class="fact">
      <h3 class="content2_heading">Betalning</h3>
      <p>Vi använder oss av Klarna som huvudsakling betalningslösning. Har du problem med en betalning är du varmt välkommen att kontakta oss så hjälper vi dig!</p>
  </mat-card>


  <mat-card class="fact" id="retur">
      <h3 class="content2_heading">Retur</h3>
    <p>En vara som är defekt kan du returnera genom att <a href="mailto:retur@qrdesign.se">kontakta oss</a> så hjälper vi dig vidare.
        Viktigt att veta är att eftersom alla våra produkter är specialtillverkade efter våra kunders önskemål så gäller inte ångerrätten. <span class="italic">Detta innebär att du som kund
        hos oss tyvärr inte kan lämna tillbaka en vara om du, mot förmodan, skulle ångra ett köp.</span>
      </p>
  </mat-card>


  <mat-card class="fact">
      <h3 class="content2_heading">Produkten fungerar inte</h3>
    <p>En vara som är deffekt kan du returnera genom att <a href="mailto:retur@qrdesign.se">kontakta oss</a> så hjälper vi dig vidare.</p>
    <p>Notera att QrDesign ej tar ansvar för om kunden angett felaktiga uppgifter.</p>
  </mat-card>


  <mat-card class="fact" id="cookies">
      <h3 class="content2_heading">Cookies</h3>
      <p>Cookies används bland annat för att du ska kunna spara personliga inställningar på webbplatsen. Cookies används också för att vi ska kunna samla in besöksstatistik och analysera vad som behöver ändras på webbplatsen.
        IP-nummer och cookiens ID kan vara personuppgifter och du har därför rätt att veta hur vi använder uppgifterna samt hur du kan begränsa användningen.
        Cookies används på så gott som alla webbplatser och kan vara nödvändiga för att webbplatsen ska fungera optimalt. Det gör det bland annat möjligt att följa vilka sidor som besöks samt möjlighet för dig att spara personliga inställningar för webbplatsen.
        Det finns olika typer av cookies, på qrdeisgn.se används fyra typer:</p>


          <ul class="content2_list">
            <li>Sessionscookien lagras tillfälligt i datorns minne under tiden en besökare är inne på en webbsida. Den försvinner när du stänger webbläsaren.</li>
            <li>En varaktig cookie finns kvar på din dator tills den tas bort.</li>
            <li>Förstapartscookien kommer från den aktuella webbplatsen (qrdeisgn.se) och placerar ut kakor i besökarens webbläsare.</li>
            <li>En tredjepartskaka kommer från en annan webbplats och placerar ut cookien i besökarens webbläsare. Du kan ställa in din webbläsare så att den blockerar cookien enbart från tredje part.</li>
          </ul>
        <p>

        För att förstå hur webbplatsen används och skaffa underlag för vårt förbättringsarbete samlar vi in statistik om varje besök via statistikverktyget Google Analytics. Uppgifterna innehåller till exempel data om kakans ID, IP-nummer, webbläsare och vilka sidor som blir besökta och sparas i 26 månader.
        Mer specifikt använder vi cookies för att identifiera om du är en återbesökare eller inte. Vi sparar det unika nummer som cookien i din webbläsare får (cookie-ID). IP-nummer används för att identifiera geografisk hemvist på våra besökare.
        Du kan göra inställningar i din webbläsares säkerhetsinställningar så att du antingen inte tar emot några cookies alls eller att du får en fråga varje gång en webbplats försöker placera en cookie på din dator.
        I webbläsaren kan du också radera tidigare lagrade cookies, se webbläsarens hjälpsidor för mer information.
    </p>
  </mat-card>


</div>

