
<mat-toolbar color="ligh">
  <button mat-button routerLink="" [ngStyle]="{'text-decoration': getcolor(0)}">
    <h2>QRdesign</h2>
  </button>
  <button mat-button routerLink="butik" [ngStyle]="{'text-decoration': getcolor(1)}">
    <mat-icon>store</mat-icon>
    Butik
  </button>
  <!-- <button mat-button routerLink="För_Företag" [ngStyle]="{'text-decoration': getcolor(2)}">
    Företag
  </button>
  -->
  <span class="pusher"></span>
  <button mat-button routerLink="kassa" [disabled]="cart.items === 0" [ngStyle]="{'text-decoration': getcolor(3)}">
    <mat-icon [matBadge]="cart.items" matBadgeColor="primary">shopping_cart</mat-icon>
  </button>
</mat-toolbar>


