
<div class="howitwork">
  <h2>Hur fungerar tavlorna?</h2>
    <p>I våra tavlor gömmer vi en QR kod som du enkelt kan scanna med din mobil för att utföra saker som att logga in på ett nätverk</p>
      <img class="img" src="https://firebasestorage.googleapis.com/v0/b/artshop-b3081.appspot.com/o/siteimages%2FWorld_instr.jpg?alt=media&token=479b4419-da0f-4009-86a2-8d578ef0bbdb">
      <img class="img" src="https://firebasestorage.googleapis.com/v0/b/artshop-b3081.appspot.com/o/siteimages%2FWorld_instr2.jpg?alt=media&token=966f37e8-3e44-46d4-9601-f8b077099a43">
    <div style="clear: both"></div>
</div>
