@import '~src/variables';
@media all and (min-width: 500px) {
  .header {
    transform: translateY(-70px);
    height: 30vh;
    background-image:
      linear-gradient(to right bottom, $color-headerFade-bright, $color-headerFade-dark),
      url("https://firebasestorage.googleapis.com/v0/b/artshop-b3081.appspot.com/o/siteimages%2FHome.jpg?alt=media&token=973b0264-5b73-40bf-8b30-4242acc32003");
    background-position: center;
    background-size: cover;
    position: relative;
    .header_text_box {
      position: absolute;
      top: 60%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      color: $color-white;
      width: 75vw;
      animation-name: moveInTop;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
    }
  }

  .field{
    margin: 0 1rem;
  }


  .product{
    width: 20rem;
    height: 20rem;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    transition: all 0.2s;
    margin: 1rem;
  }
  .product:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 0px 9px 32px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 32px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 32px -13px rgba(0,0,0,0.75);
  }

  h4{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: $color-white;
    display: block;
    margin: 1rem 2rem;
  }

  .storecontent1{
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;

  }

  .storecontent2 {
    margin-top: 1rem;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media all and (max-width: 500px) {
  .header {
    margin-top: -56px;
    height: 30vh;
    background-image:
      linear-gradient(to right bottom, $color-headerFade-bright, $color-headerFade-dark),
      url("https://firebasestorage.googleapis.com/v0/b/artshop-b3081.appspot.com/o/siteimages%2FHome.jpg?alt=media&token=973b0264-5b73-40bf-8b30-4242acc32003");
    background-position: center;
    background-size: cover;
    position: relative;
    .header_text_box {
      animation-name: moveInTop;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      position: absolute;
      top: 60%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      color: $color-white;
      width: 75vw;
    }
  }

  .product{
    width: 15rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    transition: all 0.2s;
    margin: 1rem;
  }
  .product:hover{
    transform: scale3d(1.1,1.1,1.1);
    -webkit-box-shadow: 0px 9px 32px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 32px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 32px -13px rgba(0,0,0,0.75);
  }

  h4{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: $color-white;
    display: block;
    margin: 1rem 2rem;
  }

  .storecontent1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;

  }

  .storecontent2 {
    margin-top: 2rem;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
