div.idea {
  display: flex;
  width: 75%;
  text-align: center;
  flex-flow: row nowrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 400px;
}

div.second {
  order: 2;
  flex-basis: 50%;
}

div.second h1 {
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  font-size: 3vw;
}

div.second h3 {
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 2vw;
}

div.first {
  order: 1;
  flex-basis: 50%;
  padding: auto;
}

@media all and (max-width: 800px) {
  div.idea {
    flex-flow: column wrap;
    align-content: center;
  }
  div.second {
    flex-basis: 100%;
  }
  div.first {
    flex-basis: 100%;
  }
  div.second h1 {
    font-size: 5vw;
  }

  div.second h3 {
    font-size: 4vw;
  }
}
