div.products {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

h2 {
  text-align: center;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 4vw;
  color: grey;
}

img {
  width: 20%;
  margin-right: 2.25%;
  margin-left: 2.25%;
  border-radius: 5px;
}

p {
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 30px;
}

div.imgcontainer {
  display: flex;
  flex-flow: row wrap;
}

@media all and (max-width: 800px) {
  p {
    font-size: 4vw;
  }

  h2 {
    font-size: 6vw;
  }

  img {
    width: 40%;
    margin-bottom: 3vw;
  }
}
