<div class="footer">
  <mat-divider></mat-divider>

  <div class="content1">
    <img src="https://firebasestorage.googleapis.com/v0/b/artshop-b3081.appspot.com/o/siteimages%2FLoggaUBB.png?alt=media&token=1a3b1f78-3460-4d84-bc6d-b7120bfc063f" alt="Logga" class="content1_logo">

  </div>
  <div class="content2">
    <div class="links">
      <a routerLink="info/Vanliga_Frågor"><h2>FAQ</h2></a>
      <a href="info/legalt#frakt"><h2>Frakt</h2></a>
      <a href="info/legalt#cookies"><h2>Cookies</h2></a>
      <a href="info/legalt#retur"><h2>Retur</h2></a>
      <a href="info/legalt#gdpr"><h2>GDPR</h2></a>
      <a routerLink="info/legalt"><h2>Villkor</h2></a>
    </div>
    <div class="links">
      <a href="mailto:jobb@qrdesign.se"><h2>Karriär</h2></a>
      <a href="mailto:investera@qrdesign.se"><h2>Investera</h2></a>
      <a href="mailto:motiv@qrdesign.se"><h2>Eget Motiv</h2></a>
      <a href="mailto:samarbete@qrdesign.se"><h2>Samarbete</h2></a>
      <a href="mailto:offert@qrdesign.se"><h2>Offertförfrågan</h2></a>
      <a href="mailto:feedback@qrdesign.se"><h2>Feedback</h2></a>
    </div>

    <div class="contact">
      <h2 class="content2_heading">Mail</h2>
      <p>kontakt@qrdesign.se</p>
      <br>
      <!-- TODO: Lägg in flow ruta -->
      <h2 class="content2_heading">Telefon</h2>
      <br>
      <p>013 - 13 36 33</p>
      <p>Måndag - Fredag: 10.00 - 17.00</p>
      <p>Lördag - Söndag: Stängd</p>
    </div>
  </div>

  <div class="content3">
    <div class="content3_social">
      <a href="https://www.facebook.com/QrDesign-401277037354619/" style="margin: 0 1vw;"><img src="https://firebasestorage.googleapis.com/v0/b/artshop-b3081.appspot.com/o/siteimages%2FFacebook.png?alt=media&token=baa6df87-bf2c-4042-bbf6-e60ae3add0b7" alt="" class="content3_social_img"></a>
      <a href="https://www.instagram.com/qrdesign_sweden/"><img src="https://firebasestorage.googleapis.com/v0/b/artshop-b3081.appspot.com/o/siteimages%2FInstagram.png?alt=media&token=3c223a21-ceb9-4787-919e-9082dbe058c7" alt="" class="content3_social_img"></a>
      <a href="https://www.linkedin.com/showcase/28853403/"><img src="https://firebasestorage.googleapis.com/v0/b/artshop-b3081.appspot.com/o/siteimages%2FLinkedin.png?alt=media&token=506ef2e8-09af-49f9-a529-159ec4bfe51b" alt="" class="content3_social_img"></a>
    </div>
    <h3>
      Copyright &copy; 2019 Albin Studios AB |
      Mårdtorpsgatan 19, 584 32 Linköping |
      Organisationsummer: 559201-1745
    </h3>
  </div>
</div>
