<div class="header">

</div>

<div class="body">


  <div class="utantavla">
    <h1>Först fanns där ingenting</h1>
    <p>*Insert Name* startade som alla andra företag med en idé. En idé om att man inte ville
      ha en tom vägg och att man hade ett wifi som gäster skulle ansluta till. Det och lite fantasi.</p>

  </div>

  <div class="medtavla">
    <h1>Nu finns smarta tavlor</h1>
    <p>Med våra tavlor kan du enkelt dela med dig av ditt wifi till dina gäster hemma eller till kunderna i konferensrummet.
    Smidighet och effektivitet är vad vi strävar efter samtidigt som vi förser ditt hem eller arbetsplats med mordern konst som
    passar in överallt.</p>

  </div>


  <div class="infosection">

  </div>



</div>
