<div class="body">



        <h2>Varukorg</h2>
      <div class="container">

        <mat-card *ngFor="let item of cart.cart" class="squarebox">
          <mat-card-header>
            <mat-card-title><h4>{{item.prodname}}</h4></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img mat-card-image [src]="item.prodimg">

            <div class="info">
            <div class="left">
              <qrcode [qrdata]="item.qr_code" [size]="128" [level]="'H'"></qrcode>

            </div>
            <div class="right">
                <table>
                  <tr>

                    <td>{{capitalizeFirstLetter(item.type)}}</td>
                  </tr>
                  <tr>

                    <td>{{item.viewdim}}</td>
                  </tr>
                  <tr>
                    <td>{{item.viewcolor}}</td>
                  </tr>
                  <tr>
                    <td>{{item.nomomsprice}} kr/st</td>
                  </tr>
                </table>

            </div>


            <div style="clear: both"></div>
            </div>
            <p>Antal: {{item.quantity}}st</p>
            <p>Totalt pris: {{item.nomomsprice}}kr</p>
            <button mat-raised-button (click)="remove(cokID, item)" color="warn">Ta bort</button>
          </mat-card-content>
        </mat-card>
        <div style="clear: both"></div>
        <div class="box">

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Frakt</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- <p>Frakt inom Sverige 3-5 dagar för {{cart.items}} artiklar: {{cart.delivery}}kr ink moms</p>
             <p>249kr + 100kr/Canvas + 30kr/Poster</p> -->
            <p>Just nu 299kr ex mom i fast frakt</p>
          </mat-card-content>
        </mat-card>



        <mat-card class="sum">
          <mat-card-header>
            <mat-card-title>
              <h2>Sammanställning</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table style="width:400px">
              <tr>
                <td>Pris utan moms</td>
                <td>{{cart.nomomsprice - cart.deliverynet + 299 | round}}kr</td>
              </tr>
              <tr>
                <td>Moms</td>
                <td>{{cart.totalmoms - cart.deliverymoms + 299 * 0.25 | round}}kr</td>
              </tr>
              <tr>
                <td>Totalt</td>
                <td>{{cart.totalmomsprice - cart.delivery + 1.25 * 299 | round}}kr</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      </div>



    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Betalning</h2>
          <h3 class="red">OBS: Endast "Få först. Betala sen" fungarar på denna testsida.</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <div id="my-checkout-container"></div>
      </mat-card-content>
    </mat-card>

</div>

<!-- <button mat-raised-button (click)="tester()" color="warn">Test klarna render</button>

<button mat-raised-button (click)="test()">Test api</button>

<div id="my-checkout-container">

</div>
-->


<!-- <button mat-raised-button (click)="tester()" color="warn">Test klarna render</button>

<button mat-raised-button (click)="test()">Test api</button>

<div id="my-checkout-container">

</div>
-->
