table {
  margin: 0px;
  line-height: 25px;
}

td {
  margin: 0px;
}

tr {
  margin: 0px;
}

h2 {
  font-family: "Roboto Light";
  font-weight: lighter;
  font-size: 30px;

}
h4 {
  font-family: "Roboto Black";
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
}
qrcode {
  max-width: 100px;
  width: 128px;
  margin-right: 150px;
}

div.body{
  width: 90%;
  margin: auto;
  padding-top: 50px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
  margin-bottom: 100px;
}
.squarebox {
  width: 300px;
  margin-left: 5px;
}
div.info {
  display: flex;
  flex-flow: row nowrap;
}
.sum {
  background-color: lightpink;
}

@media all and (max-width: 850px) {
  .container {
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-around;
  }
  .header {
    justify-content: space-around;
  }
  .squarebox {
    flex-shrink: 1;
  }
}

mat-card {
  margin: 10px;

}

h3.red {
  color: red;
}
