<div class="header">
  <div class="header_text_box">
    <h1>Kontakt</h1>
  </div>
</div>

<div class="content1">
  <h2>Undrar du mer om oss, vad vi gör eller våra produkter?</h2>
  <h3 class="content1_body">Kontakta oss gärna om du har frågor. Vi finns tillgängliga via mail, telefon och sociala medier!</h3>
</div>

<div class="content2">
  <!-- TODO: Lägg in formulär för mail-->
  <h3 class="content2_heading">Mail</h3>
  <p>kontakt@qrdesign.se</p>
  <br>
  <!-- TODO: Lägg in flow ruta -->
  <h3>Telefon</h3>
  <br>
  <p>013 - 13 36 33</p>
  <p>Måndag - Fredag: 10.00 - 17.00</p>
  <p>Lördag - Söndag: Stängd</p>
</div>
