div.header {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/artshop-b3081.appspot.com/o/siteimages%2Foffice.jpg?alt=media&token=bec31d6c-3a07-4728-b73f-716097adb25e");
  width: 100vw;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row nowrap;
  color: white;
  font-family: Roboto;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
}

div.credit {
  position: absolute;
  right: 50px;
  top: 600px;
}
