<div class="container">

  <div class="menu">
    <mat-toolbar>
      <div class="center">
      <button mat-button color="warn" routerLink="">
        <h2>ArtShop</h2>
      </button>
      </div>
    </mat-toolbar>
  </div>


  <div class="content">
    <div class="adress">
      <p>adress</p>
    </div>
    <div class="idea">
      <p>idé</p>
    </div>
    <div class="kontakt">
      <p>kontakt</p>
    </div>
  </div>

  <div class="fastinfo">
  <div class="center">
    <p>&copy; Copyright Albin Studios AB</p>
  </div>
  </div>

</div>
