
<div class="hero">

  <h1 class="headertitle">QRdesign</h1>
  <h3 class="headersub">Förenar stil och funktion</h3>

</div>
<div>

  <div class="cta">
    <div class="first">
      <h1>Välkommen till oss!</h1>
      <p>Vill du ge dina kunder en WOW upplevelse?</p>
      <p>Då har du kommit helt rätt.</p>
    </div>
    <div class="second">
      <img width="100%" src="https://firebasestorage.googleapis.com/v0/b/artshop-b3081.appspot.com/o/test%2Fsecond%20render%20-%20kopia.png?alt=media&token=a064c615-f9fe-409d-af56-b37c0630a0bc">
    </div>
  </div>
  <app-idea></app-idea>

  <div class="paraone">
    <div class="paratitle">
      <h1>Har du frågor?</h1>
    </div>
    <div class="button">
      <button mat-raised-button (click)="open()">Kontakt</button>
  </div>
  </div>

  <app-howitworks></app-howitworks>

  <div class="hr">
    <hr>
  </div>

  <app-ourproducts></app-ourproducts>

</div>


