
$color-dark-green: rgba(214, 115, 19, 0.5);
$color-light-green: rgba(241, 131, 24, 0.5);
$color-white: #FFF;
$color-light-fade: linear-gradient(to bottom, rgba(232, 241, 241, 0.2), rgba(232, 241, 241, 0.4));
$color-slide-button: pink;
$color-headerFade-bright: rgba(254, 254, 254, 0.5);
$color-headerFade-dark: rgba(241, 131, 24, 0.5);
$color-black: rgb(0,0,0);
$color-button-hover:rgba(241, 131, 24, 1);
