<div class="header">
  <div class="text">
    <h1>Välkommen till våran FAQ!</h1>
    <p>Här hittar du våra vanligaste frågor och svar:</p>
  </div>
  <div class="image">
    <img src="https://firebasestorage.googleapis.com/v0/b/artshop-b3081.appspot.com/o/siteimages%2Fquestionmark.png?alt=media&token=054b3929-2b04-4f1f-a96b-e41f3b5bcb7c">
  </div>
</div>


<div class="body">

  <mat-card class="cards" *ngFor="let question of faq.questions">
    <mat-card-title>
      <h2>{{question.question}}</h2>
    </mat-card-title>
    <mat-card-content>
      <p>{{question.answer}}</p>
    </mat-card-content>
    <mat-card-footer>
      <p>Hjälpte svaret?</p>
      <button mat-raised-button>Ja</button>
      <button mat-raised-button>Nej</button>
    </mat-card-footer>
  </mat-card>

</div>
