div.container {
  width: 30vw;
  margin: 5vw 1vw 5vw 15vw;
  float: left;
  display: inline;
  min-width: 300px;
}

div.form{
  float: left;
  width: 30vw;
  margin-left: 12vw;
  margin-top: 5vw;
  min-width: 300px;
}
